* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*height: 100vh;*/
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background: #ececec;
}

/*navbar*/

.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: black;
  color: wheat;
}

.navbar h2 {
  display: flex;
  gap: 10px;
  align-items: center;
}

/*main content grid*/
.content {
  /*margin-top: 20px;*/
  display: grid;
  grid-template-columns: 40vh auto;
  /*gap: 20px;*/
}

/*left panel*/

.leftPanel {
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 40px;
  height: 100%;
}

.defaultsHeading {
  border-bottom: 1px solid black;
}

.innerDefaults {
  cursor: pointer;
  /*margin-left: 20px;*/
  /*margin-bottom: 10px;*/
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.innerDefaults.selected {
  background: rgb(217, 241, 180);
  border-left: 5px solid green;
}

.projectsHeading {
  border-bottom: 1px solid black;
}

.projects-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.projects-div .project {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.project.selected {
  background: green;
}

.addProject {
  cursor: pointer;
  margin-top: 40px;
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  background: transparent;
  border: transparent;
  gap: 20px;
  justify-content: center;
  font-size: 1.125rem;
  padding: 10px;
}

.addProject:hover {
  background: #ccc;
}

/*left panelad projects form*/
#projectForm.hide {
  display: none;
}
#projectForm {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.inputField {
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  flex: 1;
}

.inputField input[type="text"] {
  padding: 7px;
}

.formButtons {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projectSubmitBtn,
.projectCancelBtn {
  cursor: pointer;
  padding: 5px 15px;
  min-width: 70px;
  color: white;
  border-radius: 5px;
  background: #2abd67;
  border: transparent;
  font-weight: 900;
}

.projectCancelBtn {
  background: #be0404;
}
/*right panel*/
.rightPanel {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  /*width: 60vh;*/
}
.title {
  margin-top: 20px;
  background: rgba(39, 199, 39, 0.596);

  width: 100%;
  padding: 20px;
  font-size: 3rem;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

#addTask {
  cursor: pointer;
  background: transparent;
  border: transparent;
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  font-size: 18px;
  padding: 20px;
  gap: 20px;
}

#addTask:hover {
  background: #fff;
}

ul {
  list-style-type: none;
}

.list-details {
  flex: 1;
}

.tasks li {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 0.4px solid#000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.875rem;
}

.tasks li:hover {
  background: #fff;
}

.tasks li input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-color: #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks li input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 10px;
  display: flex;

  color: white;
  display: none;
}

.tasks li input[type="checkbox"]:checked {
  background: green;
}

.tasks li input[type="checkbox"]:checked::after {
  display: block;
}

.list-buttons {
  display: flex;
}

#delete {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 15px;
  margin-left: 5px;
}

/*right Panel Form(task form)*/
#taskForm.hide {
  display: none;
}
#taskForm {
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 18px;
  font-family: monospace;
}

.inputField {
  font-size: 1rem;
  font-family: monospace;
}
#taskForm textarea,
input[type="date"],
input[type="text"] {
  width: 100%;
  resize: none;
  font-size: 1rem;
  /*padding: 10px;*/
}
#taskForm input[type="date"] {
  height: 30px;
  font-size: 1rem;
}
